<h2 class="ui centered header">Make a New Journal Entry</h2>

<div class="ui container">
  <%= simple_form_for(@journal, local: true, html: { class: "ui form" }) do |f| %>
    <div class="field">
      <%= f.input :title, required: true %>
    </div>
    <div class="field journal-body">
      <%= f.label :body %>
      <%= f.rich_text_area :body, required: true %>
    </div>
    <div class="field">
      <%= f.input :tag_ids, collection: Tag.order(:name), label_method: :name, input_html: { multipart: true, multiple: true } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Post Entry", class: "positive ui button" %>
      <%= link_to "Cancel", root_path %>
    </div>
  <% end %>
</div>
